<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cellular Automata generator</title>
    <script src="{{url_for('static', filename='script.js')}}" defer></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    
<div class="form">
    <input type="number" placeholder="rule" min="0" max="256" id="rule" value="90">
    <input type="number" placeholder="gens" min="0" max="256" id="gens">
    <input type="number" placeholder="cells" min="0" max="256" id="cells">
    <button>generate</button>
</div>

<hr>

<div class="output">
    <div class="image"></div>
</div>

</body>
</html>