body{
    background-color: #666;
}

.form{
    display: flex;
    justify-content: center;
    gap: 1vw;
    width: 100%;
}

.output{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.image{
    width: 50%;
    height: auto;
}

.row{
    display: flex;
}

.cell{
    flex: 1;
    background-color: white;
    aspect-ratio: 1 !important;
}

.cell.alive {
    background-color: black;
}
